$font-smaller: 10px;
$font-small: 12px;
$font-medium: 13px;
$font-large: 16px;

$vspace: 30px;
$body-padding-y: 20px;
$left-column-inset: 20px;

$white: #fff;
$black: #000;
$gray: #efefef;
$mid-gray: #e6e6e6;
$dark-gray: #ccc;
$darker-gray: #919191;
$green: #dcf8dc;
$yellow: #fff1a8;
$yellow-green: #eaffa8;
$gold: #f5c95b;
$red: #f8dcdc;

$blue: #e6f1f6;
$dark-blue: #c5d5dd;

$border-color: $mid-gray;

$weight-thin: 100;
$weight-bold: 600;

$small-gravatar-side: 20px;
