$font-small: 12px;
$font-medium: 14px;
$font-large: 22px;

$vspace: 30px;
$body-padding-y: 20px;
$left-column-inset: 20px;

$gray: #efefef;
$mid-gray: #e6e6e6;
$dark-gray: #919191;

$border-color: $mid-gray;

$weight-thin: 100;
$weight-bold: 600;
