html {
  // No horizontal scrollbars on account of the GitHub placeholder.
  overflow-x: hidden;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: $font-medium;
  margin: 0;
  padding: 10px $body-padding-y;
}

a {
  color: #555;
  &:hover { color: #777; }
}

footer {
  margin-top: $vspace;
  font-size: $font-small;
}
