.commits-list {
  list-style-type: none;
  padding: 0;
}

.your-last-clicked-commit {
  border-left: 10px solid goldenrod;
}

img[gravatar-src] {
  width: 40px;
  height: 40px;
}

// angular-animation

.commit.ng-enter,
.commit.ng-leave {
  transition: 0.5s ease-in-out all;
}

// Style when not showing.
.commit.ng-enter,
.commit.ng-leave.ng-leave-active {
  opacity: 0;
  max-height: 0;
}

// Style when fully showing.
.commit.ng-leave,
.commit.ng-enter.ng-enter-active {
  opacity: 1;
  max-height: 999px;  // http://stackoverflow.com/a/8331169/6962
}
