.commits-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.commit {
  border-bottom: 1px solid $gray;

  // Without this, the "last-clicked" border-right doesn't go all the way up.
  border-top: 1px solid transparent;
  position: relative;
  top: -1px;

  &:first-child {
    top: 0;
  }
}

.commit-wrapper {
  margin: 0 $left-column-inset;
}

.commit-details {
  font-size: $font-small;
}

.your-last-clicked-commit {
  border-right: 10px solid goldenrod;
}

.commit.authored-by-you {
  margin: 10px 0;
  height: 28px;

  .commit-wrapper {
    opacity: 0.6;
  }

  .commit-avatar {
    width: 20px;
    height: 20px;
    margin-top: -1px;
  }
  .sha, .by-author {
    display: none;
  }
  .commit-summary, .commit-details {
    display: inline;
  }
}

img.commit-avatar {
  background: $gray;
  width: 40px;
  height: 40px;
  float: left;
  margin: 4px 10px 4px 0;
  border-radius: 5px;
}

// angular-animation

.commit.ng-enter,
.commit.ng-leave {
  transition: 0.5s ease-in-out all;
}

// Style when not showing.
.commit.ng-enter,
.commit.ng-leave.ng-leave-active {
  opacity: 0;
  max-height: 0;
}

// Style when fully showing.
.commit.ng-leave,
.commit.ng-enter.ng-enter-active {
  opacity: 1;
  max-height: 999px;  // http://stackoverflow.com/a/8331169/6962
}
