.top-nav {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: inline-block;
    width: 33%;
    text-align: center;

    border-right: 1px solid $border-color;
    &:last-child { border-right: 0; }

    border-bottom: 1px solid $border-color;
    &.current { border-bottom-color: transparent; }

    // Put the opacity on the link, not the li,
    // so it doesn't affect the borders.
    a { opacity: 0.5; }
    &.current a {
      opacity: 1;
      font-weight: $weight-bold;
    }
  }

  a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 15px 10px;
    text-decoration: none;
  }
}

$content-width: 560px;

.fluid-app-info {
  background: $gray;
  color: #220;
  text-shadow: #fff 1px 1px 1px;
  padding: 20px;
  position: absolute;
  left: $content-width;
  right: 0;
  top: 0;
  bottom: 0;
  min-width: 300px;
  text-align: center;

  font-size: $font-large;
  font-weight: 100;
}

.fluid-app-info-main {
  font-weight: $weight-bold;
  font-size: $font-larger;
  margin: $vspace 0;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: $content-width;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 0 $vspace 0;
}

footer {
  border-top: 1px solid $border-color;
  padding: $vspace $left-column-inset $vspace $left-column-inset;
  margin: 0;
  font-size: $font-small;
}

.settings-gravatar {
  position: absolute;
  top: 2px;
  right: 2px;
}
