ul.commits-list
  li.commit(
    ng-repeat="commit in commits track by commit.short_sha"
    ng-class="{ 'your-last-clicked-commit': isYourLastClicked(commit) }"
  )
    img gravatar-src="commit.author_email"
    '
    a href="{{commit.url}}" ng-click="clicked(commit)" target="_blank"
      | {{commit.short_sha}}
    '
    ' {{commit.summary}}
